@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.fa-house {
	font-size: 100px;

	path {
		fill: hotpink;
		stroke: black;
		stroke-width: 10;
	}
}

.fa-thumbs-up {
	font-size: 100px;
	path {
		fill: cornflowerblue;
		stroke: black;
		stroke-width: 10;
	}
}
