@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.wrap {
	padding: 80px 100px;
	article {
		margin-top: 50px;
		width: 200px;
		height: 200px;
		background: skyblue;
		transition: 0.3s;
	}
}
